<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* ||HEADER */
    header{
        width: 100%;
        z-index: 1000;
        box-shadow: 1px 1px 10px 1px;
        background: linear-gradient(
            180deg,
            white,
            var(--BG-COLOR)
            )
        }
        
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    
    .logo img{
        max-height: 50px;
    }
    
    .others{
        display: flex;
        align-items: center;
    }
    
    .others a{
        color: var(--FCOLOR);
        margin-left: 20px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    
    .others a span {
        margin-left: 5px;
      }
      
    
    .toggle-bar{
        color: rgb(60, 70, 105);
        margin-left: 20px;
        cursor: pointer;
    }
    
    .toggle-select{
        text-align: center;
        border: none;
        font-size: 1rem;
        color: var(--FCOLOR);
        background-color: var(--BG-COLOR);
        font-weight: 400;
        appearance: none;
        text-overflow: '';
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    
    
    
    #list{
        display: none;
        width: fit-content;
        z-index: 2;
        position: absolute;
        top: 20px;
        right: 5px;
        list-style-type: none;
        background-color: var(--BG-COLOR);
        color: var(--FCOLOR);
        width: 250px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    #list li{
        padding: 10px 0;
        display: flex;
        justify-content: center;
    }
    
    #list li:hover {
        background-color: #f0f0f0;
      }
      
    
    #list li a {
        text-decoration: none;
        font-family: fantasy;
    }
    
    .toggle-bar i:active{
        transform: scale(1);
        transition: all 500ms ease-in-out;
    }
    
    .logo{
        height: 100%;
        width: 55%;
        display: grid;
        align-items: center;
    }
    
    .logo a {
        height: 7.5vh;
        height: fit-content;
    }
    
    
    .others a:hover, .others a:active{
        transform: scale(1.1); /* fornew */
        transition: all 200ms linear;
    }
    
    #soeas{
        background-color: var(--FCOLOR);
        color: var(--BG-COLOR);
        display: flex;
        flex-wrap: nowrap;
        padding: 3px;
        text-decoration: none;
        position: relative;
        top: -4.5px;
        border-radius: 5px;
    }
    
    #soeas span{
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    
    
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        border-top: 1px solid #ccc;
    }
    
    .search{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 600px;
        position: relative;
    }
    
    .search input{
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        text-transform: capitalize;
        outline: none;
    }
    
    .search button{
        padding: 10px;
        background-color: var(--FCOLOR);
        color: #fff;
        border: none;
        border-radius: 0 4px 4px 0;
        cursor: pointer;
    }
    
    .search button:hover, .search button:active{
        background-color: #333;
        transition: all 1s  ;
    }
    
    #brands{
        position: relative;
        font-family: fantasy;
    }
    
    #brdhide{
        display: none;
        flex-direction: column;
        position: absolute;
        top: calc(auto + 10px);
        left: 10%;
        width: 200px;
        background-color: var(--CCOLOR);
        border-radius: 10px;
        box-shadow: .1px .1px 10px .1px var(--FCOLOR);
        overflow-y: auto;
        height: fit-content;
        max-height: 70vh;
    }
    
    #cnl{
        padding: 3px 10px;
        display: flex;
        justify-content: right;
        position: fixed;
        z-index: 2;
    }
    
    #brdhide a{
        border-bottom: 2px solid var(--LIGHT-BG-COLOR);
        padding-block: 5px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14px;
        width: fit-content;
        margin-inline: auto;
    }
    
    #brdhide a:hover{
        background-color: var(--LIGHT-BG-COLOR);
    }
    
    #hide1{
        position: absolute;
    }
    
    @media (max-width: 768px) {
        #changetxt{
            padding-top: 6vh;
        }
    
        .top {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          height: fit-content;
        }
    
        .logo{
            height: fit-content;
            width: 100%;
            height: 60px;
            padding: 0;
            display: flex;
        }
    
        .logo img{
            margin: 0;
            padding: 0;
        }
      
        .others {
          justify-content: flex-end;
          width: 100%;
          gap: 10px;
          position: relative;
        }
      
        .others a {
          margin-left: 0;
        }
      
        .toggle-bar {
          display: block;
          position: absolute;
        }
    
        #soeas{
            position: absolute;
            left: 0;
        }
        
        .toggle-bar{
            position: absolute;
            left: 50px;
        }
    
        .search {
          align-items: flex-start;
          width: 100%;
        }
      
        .search input {
          width: 90%;
          margin-bottom: 10px;
          border-radius: 4px 0 0 4px;
        }
      
        .search button {
          width: auto;
          border-radius: 0 4px 4px 0;
        }
    
        #list{
            left: -5px;
            top: -15px;
        }
      }
    
    /* ||CLOSE HEADER */
      </style>
</head>
<body>
    <header>
        <div class="top">
          <div class="logo">
            <a href="productpage.html">
              <img src="/public/icon_images/Logo_2.png" alt="eas logo">
            </a>
          </div>
          <div class="others">
            <!-- <a href="productpage.html" title="inbox"><i class="fa-solid fa-message"></i></a> -->
            <a href="/login" title="sell on e-autopartstore" id="soeas"><i class="fa-solid fa-store"></i><span>SELL</span></a>
            <a href="/login" title="Account"><i class="fa-solid fa-user"></i></a>
            <a href="/login" title="cart"><i class="fa-solid fa-cart-shopping"></i></a> 
           
          <div class="toggle-bar" onclick="toggleDropdown()">
            <i class="fa-solid fa-bars" id="toggleButton"></i>
            <ul id="list" class="hidden">
                  <li id="hide1"><i class="fa-solid fa-xmark"></i></li>
                  <li><a href="/login">Profile</a></li>
                  <li>
                      <div id="brands">Brands</div>
                          <div id="brdhide">
                              <div id="cnl"> <i class="fa-solid fa-xmark"></i></div>
                              <a href="acura.homepage.html">Acura</a>
                              <a href="audi.hompage.html">audi</a>
                              <a href="bmw.homepage.html">bmw</a>
                              <a href="cheverolet.homepage.html">chevrolet</a>
                              <a href="ford.homepage.html">ford</a>
                              <a href="honda.homepage.html">honda</a>
                              <a href="hyundai.homepage.html">hyundai</a>
                              <a href="landrover.homepage.html">landrover</a>
                              <a href="lexus.homepage.html">lexus</a>
                              <a href="mercedes.homepage.html">mercedes_Benz</a>
                              <a href="mitsubishi.homepage.html">mitsubishi</a>
                              <a href="nissan.homepage.html">nissan</a>
                              <a href="peugeot.homepage.html">peugeot</a>
                              <a href="renault.homepage.html">renault</a>
                              <a href="suzuki.homepage.html">suzuki</a>
                              <a href="toyota.homepage.html">Toyota</a>
                              <a href="volkswagen.homepage.html">volkswagen</a>
                              <a href="volvo.hompage.html">volvo</a>
                          </div>
                  </li>
                  <li>
                            <i class="fa-solid fa-bell"></i>
                            <span><a href="">Notification</a></span>
                  </li>
                  <li><a href="">Help & support</a></li>
                  <li><a href="">FAQ</a></li>
                  <li><a href="">Blog</a></li>
                  <li><a href="">Contact Us</a></li>
            </ul>
          </div>
            
          </div>
        </div>
        <div class="bottom">
          <div class="search">    
              <input type="text" id="searchInput" class="search input" placeholder="Search for Products, Categories and Offers..." autocomplete="off">
              <button onclick="searchProducts()">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
          </div>
 
        </div>
          
        </div>
      </header>
    
</body>
</html>




