
/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:active{
    background-color: inherit;
}

img{
    display: block;
}

:root{
    --BG-COLOR:  #c0c1ca;
    --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
    --FCOLOR:  #3c4669;
    --CCOLOR: rgb(123, 169, 123);
    --BOXSHADOW: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* ||CLOSE RESET */


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ||HEADER */
header{
    width: 100%;
    z-index: 1000;
    background: linear-gradient(
        180deg,
        white,
        var(--BG-COLOR)
        )
    }
    
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 0;
}

.logo img{
    max-height: 50px;
}

.logo a{
    width: fit-content;
}

.others{
    display: flex;
    align-items: center;
    gap: 20px;
}

.others a{
    color: var(--FCOLOR);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}  

a.shop-link{
    background-color: var(--FCOLOR);
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.shop-link

.others a span {
    margin-left: 5px;
  }
  

.toggle-bar{
    color: rgb(60, 70, 105);
    cursor: pointer;
}

.toggle-select{
    text-align: center;
    border: none;
    font-size: 1rem;
    color: var(--FCOLOR);
    background-color: var(--BG-COLOR);
    font-weight: 400;
    appearance: none;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
}

#list{
    display: none;
    width: fit-content;
    z-index: 3000;
    position: absolute;
    top: 20px;
    right: 5px;
    list-style-type: none;
    background-color: var(--BG-COLOR);
    color: var(--FCOLOR);
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#list li{
    font-size: 14px;
}

#list li:hover {
    background-color: #f0f0f0;
}


#list li a, #li-brands {
    padding: 10px 0;
    text-decoration: none;
    font-family: fantasy;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toggle-bar i:active{
    transform: scale(1);
    transition: all 500ms ease-in-out;
}

.logo{
    height: 100%;
    width: 55%;
    display: grid;
    align-items: center;
}

.logo a {
    height: 7.5vh;
    height: fit-content;
}


.others a:hover,
.others a:active,
#brands:hover
{
    transform: scale(1.1);
    transition: all 200ms linear;
}

#soeas{
    background-color: var(--FCOLOR);
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 3px;
    text-decoration: none;
    border-radius: 5px;
}

#soeas span{
    font-size: 14px;
}



.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--BG-COLOR);
    position: sticky;
    top: 0;
    z-index: 2000;
}

.search{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.search input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    text-transform: capitalize;
    outline: none;
}

.search button{
    padding: 10px;
    background-color: var(--FCOLOR);
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search button:hover, .search button:active{
    background-color: #333;
    transition: all 1s ease;
}

#brands{
    position: relative;
    font-family: fantasy;
}

#brdhide{
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(auto + 10px);
    left: 10%;
    width: 200px;
    background-color: var(--CCOLOR);
    border-radius: 10px;
    box-shadow: .1px .1px 10px .1px var(--FCOLOR);
    overflow-y: auto;
    height: fit-content;
    max-height: 70vh;
}

#cnl{
    padding: 3px 10px;
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: left;
    position: sticky;
    top: 2px;
    left: 5px;
}

#brdhide a{
    border-bottom: 2px solid var(--LIGHT-BG-COLOR);
    padding-block: 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    width: fit-content;
    margin-inline: auto;
}

#brdhide a:hover{
    background-color: var(--LIGHT-BG-COLOR);
}

#hide1{
    display: flex;
    width: fit-content;
}

#hide1 i{
    width: fit-content;
    margin-right: auto;
}

@media (max-width: 768px) {
    .top {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      height: fit-content;
    }

    .logo{
        height: fit-content;
        width: 100%;
        height: 60px;
        padding: 0;
        display: flex;
    }

    .logo img{
        margin: 0;
        padding: 0;
    }
  
    .others {
      justify-content: flex-end;
      width: 100%;
      gap: 10px;
      position: relative;
    }
  
    .others a {
      margin-left: 0;
    }

    #soeas{
        position: absolute;
        left: 35px !important;
    }

    #toggleButton{
        position: absolute;
        left: -60px;
        top: -10px;
    }

    .search {
      align-items: flex-start;
      width: 100%;
    }
  
    .search input {
      width: 90%;
      margin-bottom: 10px;
      border-radius: 4px 0 0 4px;
    }
  
    .search button {
      width: auto;
      border-radius: 0 4px 4px 0;
    }

    #list{
        left: -70px !important;
        top: -15px;
    }
  }

/* ||CLOSE HEADER */


#changetxt{
    width: 70%;
    text-align: center;
    margin-inline: auto;
    margin-top: 20px;
    display: grid;
    align-items: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--FCOLOR);
    font-weight: 900;
    animation: textart 2s 1s infinite;
    transition: all 0.5s ease-in-out;
}

.flash{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
};


.prod {
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.prod:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prod a{
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.prod a img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 60%;
    border-bottom: 1px solid #f0f0f0;
    transition: transform 0.3s ease;
}

.prod:hover a img {
    transform: scale(1.05);
}

.prod a .text{
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    color: #333;
    font-size: 14px;
}

.text span{
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.prod .text span:first-child {
    font-size: 16px;
    color: #2c3e50;
    font-family: "Radio Canada", sans-serif;
    text-transform: capitalize;
}

.text span:nth-child(2){
    width: fit-content;
    border-radius: 3px;
    color: #505b5c;
    font-style: italic;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.prod .text span:nth-child(3) {
    font-weight: 700;
    font-family: "PT Mono", monospace;
    color: #333;
    font-size: 20px;
}

.prod .text span:last-child {
    font-size: 14px;
    color: #95a5a6;
}

.location-icon{
    position: relative;
    top: 3px;
}

.top-ad{
    width: 100%;
    height: 50vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f4f4f4; /* Optional: Add a background color */
    margin-bottom: 30px;
}

.top-ad img{
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    section.top-ad {
        padding: 10px; /* Add some padding for smaller screens */
    }

    section.top-ad img {
        width: 100%; /* Ensure the image scales down appropriately */
    }
}

#backToTopBtn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 20px;
    border: 1px solid var(--BG-COLOR);
    margin-inline: auto;
    left: 47.5%;
    padding: 10px;
    opacity: 0.8;
    background-color: var(--FCOLOR);
    color: white;
    cursor: pointer;
    z-index: 4;
    font-size: 20px
}


#banner{
    transition: opacity 1s ease-in-out;
}


.hrsc{
    padding-bottom: 20px;
}
/*|| PRODUCT CARD */
.pd_cd {
    text-decoration: none;
    color: var(--FCOLOR);
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.product-card{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;    
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.product-card img{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 70%;
    border-bottom: 1px solid #f0f0f0;
    transition: transform 0.3s ease;
}

.product-card article{
    height: 30%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:  5px 10px;
    color: #333;
    font-size: 14px;
}

.product-card p:first-child{
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    color: #2c3e50;
    font-family: "Radio Canada", sans-serif;
    text-transform: capitalize;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product-card p:nth-child(2){
    width: fit-content;
    border-radius: 3px;
    color: #505b5c;
    font-style: italic;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.product-card p:last-child{
    color: white;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.product-card .price {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.product-card .price span:first-child{
    font-family: "PT Mono", monospace;
    font-size: 18px;
    color: #222;
}

.product-card .price span:nth-child(2){
    color: #555;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}



/*||CLOSE PRODUCT CARD */

/* || HR DIS SECTION */
section .trough{
    padding: 20px;
    overflow: hidden; /* Prevents vertical overflow */
}


.brand-logo .b-logo {
    width: 50px;
    height: auto;
  }

.brand-logo{
    margin-bottom: 20px;
    height: min(50px, 10vh);
    background-color: var(--BG-COLOR);
    margin-inline: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.brand-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: fit-content;
    width: fit-content;
    text-decoration: none;
    color: var(--FCOLOR);
}

.brand-logo .name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: bold;
}

.brand-logo a p{
    margin-top: auto; /* new */
    margin-bottom: auto; /* new */
}

.hrsc{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 5px;
    margin-inline: 16px;
    margin-bottom: 16px;
}

.hrsc::-webkit-scrollbar {
    height: 8px;
}
  
.hrsc::-webkit-scrollbar-thumb {
background-color: #ccc;
border-radius: 10px;
}
  
.hrsc::-webkit-scrollbar-track {
background-color: #f1f1f1;
}

@media (max-width: 768px) {
.product-card {
width: 200px;
    margin-right: 10px;
}
}
/* ||CLOSE HR DIS SECTION */


/* ||FOOTER */
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  var(--FCOLOR);
    position: relative;
    bottom: 0;
    margin-top: 500px;
}

.mainft{
    color:  rgba(255, 255, 255, 0.781);
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:  2vw;
    justify-content: space-between;
}

.socials{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socials a{
    color: rgba(255, 255, 255, 0.781);
    width: 100%;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact a{
    color: white;
    text-decoration: none;
}

.ftft{
    margin: 2vh 0;
    color:  rgb(27, 151, 48);
    text-align: center;
}

/* for new footer designs */

.legal_pg{
    color: var(--BG-COLOR);
    text-decoration: none;
}

.about a:hover, .about a:active, .socials a:hover, .socials a:active{
    font-weight: bolder;
}

.socials a:hover, .socials a:active{
    transform: scale(1.1);
}

.contact a:hover, .contact a:active{
    font-weight: bolder;
}

/* ||CLOSE FOOTER */

@media screen and (min-width: 700px) {
    .top-ad{
        width: 70%;
        margin-inline: auto;
        height: 200px;
    }
}


@media screen and (max-width: 565px){
    .product-display, .banner, .trough{
        width: 100%;
    }

    .trough{
        margin-inline: 0;
        padding-inline: 5px;
        overflow-x: hidden;
    }
    
    .sales-pic{
        width: 100%;
    }

    .sales-pic img{
        width: 100%;
    }

    .top-ad{
        height: 20vh;
    }
}

@media screen and (max-width: 350px) {
    .top-ad{
        height: 15vh;
    }
}


