/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img{
    display: block;
}

:root{
    --BG-COLOR:  rgb(192, 193, 202);
    --LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
    --FCOLOR:  #3c4669;
}
/* ||CLOSE RESET */


/* ||HEADER */
header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-bottom: 15px;
    background: linear-gradient(
        180deg,
        white,
        var(--BG-COLOR)
        )
}
    
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 0;
}

.logo a{
    width: fit-content;
}

.logo img{
    max-height: 50px;
}

.others{
    display: flex;
    align-items: center;
    gap: 20px;
}

.others a{
    color: var(--FCOLOR);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}  

a.shop-link{
    background-color: var(--FCOLOR);
    color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.shop-link

.others a span {
    margin-left: 5px;
  }
  

.toggle-bar{
    color: rgb(60, 70, 105);
    cursor: pointer;
}

.toggle-select{
    text-align: center;
    border: none;
    font-size: 1rem;
    color: var(--FCOLOR);
    background-color: var(--BG-COLOR);
    font-weight: 400;
    appearance: none;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
}

#list{
    display: none;
    width: fit-content;
    z-index: 3000;
    position: absolute;
    top: 20px;
    right: 5px;
    list-style-type: none;
    background-color: var(--BG-COLOR);
    color: var(--FCOLOR);
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#list li{
    font-size: 14px;
}

#list li:hover {
    background-color: #f0f0f0;
}


#list li a, #li-brands {
    padding: 10px 0;
    text-decoration: none;
    font-family: fantasy;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toggle-bar i:active{
    transform: scale(1);
    transition: all 500ms ease-in-out;
}

.logo{
    height: 100%;
    width: 55%;
    display: grid;
    align-items: center;
}

.logo a {
    height: 7.5vh;
    height: fit-content;
}


.others a:hover,
.others a:active,
#brands:hover
{
    transform: scale(1.1);
    transition: all 200ms linear;
}

#soeas{
    background-color: var(--FCOLOR);
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 3px;
    text-decoration: none;
    border-radius: 5px;
}

#soeas span{
    font-size: 14px;
}



.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--BG-COLOR);
    position: sticky;
    top: 0;
    z-index: 2000;
}

.search{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.search input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    text-transform: capitalize;
    outline: none;
}

.search button{
    padding: 10px;
    background-color: var(--FCOLOR);
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search button:hover, .search button:active{
    background-color: #333;
    transition: all 1s ease;
}

#brands{
    position: relative;
    font-family: fantasy;
}

#brdhide{
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(auto + 10px);
    left: 10%;
    width: 200px;
    background-color: var(--CCOLOR);
    border-radius: 10px;
    box-shadow: .1px .1px 10px .1px var(--FCOLOR);
    overflow-y: auto;
    height: fit-content;
    max-height: 70vh;
}

#cnl{
    padding: 3px 10px;
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: left;
    position: sticky;
    top: 2px;
    left: 5px;
}

#brdhide a{
    border-bottom: 2px solid var(--LIGHT-BG-COLOR);
    padding-block: 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    width: fit-content;
    margin-inline: auto;
}

#brdhide a:hover{
    background-color: var(--LIGHT-BG-COLOR);
}

#hide1{
    display: flex;
    width: fit-content;
}

#hide1 i{
    width: fit-content;
    margin-right: auto;
}

@media (max-width: 768px) {
    #changetxt{
        padding-top: 6vh;
    }

    .top {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      height: fit-content;
    }

    .logo{
        height: fit-content;
        width: 100%;
        height: 60px;
        padding: 0;
        display: flex;
    }

    .logo img{
        margin: 0;
        padding: 0;
    }
  
    .others {
      justify-content: flex-end;
      width: 100%;
      gap: 10px;
      position: relative;
    }
  
    .others a {
      margin-left: 0;
    }
  
    .toggle-bar {
      display: block;
      position: absolute;
    }

    #soeas{
        position: absolute;
        left: 0;
    }
    
    .toggle-bar{
        position: absolute;
        left: 70px;
    }

    .search {
      align-items: flex-start;
      width: 100%;
    }
  
    .search input {
      width: 90%;
      margin-bottom: 10px;
      border-radius: 4px 0 0 4px;
    }
  
    .search button {
      width: auto;
      border-radius: 0 4px 4px 0;
    }

    #list{
        left: -5px;
        top: -15px;
    }
  }

/* ||CLOSE HEADER */


main{
    position: relative;
    top: 15vh;
    padding: 10px;
    padding-bottom: 30vh;
}

.product-image-container{
    position: relative;
    overflow: hidden;
}

.product_image{
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    gap: 2vw;
    scroll-behavior: smooth;
}

.product_image img{
    height: 300px;
    width: auto;
    border: 1px solid black;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.prev-btn {
    left: 5px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.next-btn {
    right: 5px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#details{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5vh 0 2vh 0;
}

#pdct{
    padding: 2vw;
    border: 2px solid var(--FCOLOR);
    border-radius: 10px;
    min-height: fit-content;
}

.label{
    background-color: var(--BG-COLOR);
    width: 20%;
    font-family: fantasy;
    border-radius: 5px; 
}

#desc .content{
    height: fit-content;
}

#details div{
    display: flex;
    border-radius: 5px;
    min-height: 50px;
    margin-block-end: 5px;
}

.vvm{
    border: 1px solid #888;
}

.content{
    width: 80%;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

#liquid{
    display: flex;
    justify-content: center;
    border: none;
    text-decoration: underline;
    border: none;
    background-color: #ffa500;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label1{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.content1{
    display: flex;
    align-items: center;
}

.label, .content{
    text-transform: capitalize;
    display: grid;
    align-items: center;
    padding-left: 5px;
    color: var(--FCOLOR);
    margin: 3px;
}

.link{
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  

.priceDiv{
    display: flex;
    align-items: center;
}

#ct-text{
    color: var(--FCOLOR);
    font-family: impact;
    font-size: 20px;
    text-align: center;
    margin: 2vh 0 3vh 0;
}

.later{
    display: none;
}

#cnt-1{
    padding-block: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ct-text{
    border: 2px solid #333;
    background-color: #888;
    width: fit-content;
    padding: 10px;
    margin-inline: auto;
    border-radius: 8px;
    outline: 1px solid red;
    outline-offset: 3px;
    cursor: pointer;
}

#ct-text a{
    text-decoration: none;
    color: var(--FCOLOR);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

#ct-info{
    width: fit-content;
    margin-inline: auto;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 768px){
    #ct-info{
        width: 90%;
    }
}

.ct-1{
    width: fit-content;
    border-radius: 5px;
    margin: 5px auto;
    display: flex;
    gap: 10px;
    color: var(--FCOLOR);
    padding: 5px 3px;
    background-color: var(--LIGHT-BG-COLOR);
}

.ct1-label{
    padding: 10px 5px;
    background-color: var(--BG-COLOR);
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333;
    font-weight: 600;
}

.ct1-cnt{
    padding: 10px 5px;
    background-color: var(--BG-COLOR);
    border-radius: 5px;
    box-shadow: 1px 1px 5px  #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact_top{
    box-shadow: 1px 1px 3px 1px;
    border-radius: 10px;
    height: fit-content;
    color: var(--FCOLOR);
    padding: 10px 5px;
    background-color: rgba(194, 194, 194, 0.479);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5vh;
    padding-top: auto;
}

.contact_top a{
    padding-top: auto;
    color: var(--FCOLOR);
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding-inline: 2vw;
    height: 8vh;
    display: flex;
    text-decoration: none;
}

.contact_top a:hover, .contact a:active{
    transform: scaleY(1.2);
    transition: all 200ms ease-in-out;
}

.contact_top a img{
    margin-top: auto;
    margin-bottom: auto;
}

.contact_top i{
    font-size: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.contact_top .nmbr{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.det{
    background-color: var(--BG-COLOR);
    height: 10vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#msg{
    width: 40%;
    margin-inline: auto;
    padding-inline: 10%;
}

#msg .nmbr{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3vw;
}

.recommended{
    margin: 5vh 0;
}

#rc_title{
    font-weight: 600;
    font-size: 1rem;
    color: var(--FCOLOR);
    padding-left: 3vw;
}

.partshow{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2vw;
    padding: 3vw;
}

.prdt_lnk{
    text-decoration: none;
    height: 40vh;
    min-height: 250px;
}

.prdt_lnk:hover{
    transform: scale(105%);
}

.product-slot{
    height: 100%;
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px rgb(109, 109, 109);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-slot img{
    height: 70%;
}

.product-slot article{
    padding: 5px;
    background-color: var(--BG-COLOR);
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}

.product-slot p:first-child{
    color: var(--FCOLOR);
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-slot p:last-child{
    background-color: var(--FCOLOR);
    width: 60%;
    color: white;
    text-align: center;
    border-radius: 5px;
}


/* ||FOOTER */
footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:  var(--FCOLOR);
    position: relative;
    bottom: 0;
}

.mainft{
    color:  rgba(255, 255, 255, 0.781);
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:  2vw;
    justify-content: space-between;
}

.socials{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socials a{
    color: rgba(255, 255, 255, 0.781);
    width: 100%;
    text-align: center;
}

.contact{
    display: flex;
    flex-direction: column;
}

.contact a{
    color: white;
    text-decoration: none;
}

.ftft{
    margin: 2vh 0;
    color:  rgb(27, 151, 48);
    text-align: center;
}

/* for new footer designs */

.legal_pg{
    color: var(--BG-COLOR);
    text-decoration: none;
}

.about a:hover, .about a:active, .socials a:hover, .socials a:active{
    font-weight: bolder;
}

.socials a:hover, .socials a:active{
    transform: scale(1.1);
}

.contact a:hover, .contact a:active{
    font-weight: bolder;
}

/* ||CLOSE FOOTER */

/* ||MEDIA QUIRIES */
@media screen and (max-width: 400px) {
    #details p .label{
        width: 30%;
        padding-inline: 1px;
    }
    
    .content{
        font-size: 14px;
    }
    
    
}



@media screen and (max-width: 460px){
    .or_btn{
        display: flex;
        flex-direction: column;
    }

    .qty, #order1, #order2{
        margin-inline: auto;
        width: 100%;
        min-width: 200px;
        
    }

    .partshow{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        padding: 0;
    }

    .prdt_lnk{
        width: 46%;
        margin: 0;
    }

    .product-slot{
        width: 100%;
        margin-bottom: 10px;
    }

    
}

@media screen and (max-width: 500px){
   .label{
    font-size: 12px;
   }

   #order{
    font-size: 16px;
   }
}

@media screen and (max-width: 565px) {
    .search button{
        display: none;
    }

    .search input{
        width: 90%;
    }
}

@media screen and (max-width: 670px){
    .or_btn{
        display: flex;
        justify-content: space-between;
    }

    .qty{
        width: 30%;
    }

    #order1, #order2{
        font-size: 14px;
        width: 30%;
    } 
}

@media screen and (max-width: 800px){
    #order1, #order2{
        font-size: 14px;
    }
}

/* ||CLOSE MEDIA QUERIES */