*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--FCOLOR);
}

:root{
--BG-COLOR:  rgb(192, 193, 202);
--LIGHT-BG-COLOR: rgba(28, 194, 194, 0.324);
--FCOLOR:  rgba(60, 70, 105);
--CCOLOR: rgb(123, 169, 123);
}

body{
    background-image: url(/img_folder/Logo_emblem-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: 15vh;
    backdrop-filter: blur(5px);
}

header{
    height: fit-content;
    padding: 10px 5px;
    background-color: red;
    background: linear-gradient(
    180deg,
    white,
    var(--BG-COLOR)
    )
}

header img{
    object-fit: contain;
    object-position: left;
}

.logo a{
    width: fit-content;
}

main{
    padding-top: 15vh;
}

.out-1{
    background-color: var(--BG-COLOR);
    width: 60%;
    height: 50vh;
    margin-inline: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: .8;
    border-radius: 10px;
}

@media screen and (max-width: 450px) {
    .out-1{
        width: calc(100% - 4vw);
    }

    body{
        background-position-y: 20vh;
    }

    .link, .tick{
        font-size: 1rem;
    }
}

.tick{
    font-size: 500%;
}

.link{
    color: var(--BG-COLOR);
    background-color: var(--FCOLOR);
    font-size: 1.5rem;
    width: fit-content;
    margin-inline: auto;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    outline: 2px solid white;
    outline-offset: 2px;
}

.link:hover{
    outline-color: red;
}

